//
//  Debug.xcconfig
//  MovieList
//
//  Created by Filipe Faria on 03/08/19.
//  Copyright © 2019 Filipe Faria. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-MovieList/Pods-MovieList.debug.xcconfig"

BASE_URL = api.themoviedb.org/3/
MOVIE_URL = movie/upcoming
GENRE_URL = genre/movie/list
IMAGE_URL = image.tmdb.org/t/p/w500
APP_NAME = MovieLoveDebug
API_KEY = 1f54bd990f1cdfb230adb312546d765d
